body,
body * {
    /* margin: 0; */
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    margin: calc ((1000px - 100%) / 2);  
    
    
}
body{
    border-style: 2px solid black; 
    width: 800px;
    height: 800px;
    }
.Nelyginiai-eilute > .Nelyginiai-stulpeliai{
    display: inline-block;
    float: left;
    background-color:white;
    width: 200px;
    height: 200px;
}

.Nelyginiai-eilute > .Lyginiai-stulpeliai{
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
    background-color: black;
}
.Lyginiai-eilute > .Lyginiai-stulpeliai{
    display: inline-block;
    float: left;
    background-color: white;
    width: 200px;
    height: 200px;
}

.Lyginiai-eilute > .Nelyginiai-stulpeliai{
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
    background-color: black;
}